.tekst {
    margin-bottom: 10px; /* Afstand mellem overskrift og indholdsboks */
    margin-left: 5%; /* Sikrer allignment med indholdsbokse */
    margin-top: -55px; /* Sikrer, at alle tekstbokse alligner*/
}