.placeholder {
    color: #666;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 3rem;
}

.soegeside h2 {
    color: #032478;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    margin-top: -55px; /* Sikrer, at alle tekstbokse alligner*/
}