.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 75px 125px;
  border-radius: 8px;
  width: 600px;
  z-index: 1001;
  border: 1px solid #032478;
}

.lukKnap {
  position: absolute;
  top: 30px;
  left: 125px;
  background: none;
  border: none;
  cursor: pointer;
}

.modalOverskrifter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 35px;
  color: #032478;
}

.oeversteOverskrift {
  color: #000 !important;
}

.inputfelter {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.modal form input {
  width: 100% !important;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.knapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.knapper button {
  padding: 10px 25px !important;
  white-space: nowrap; /* Forhindrer tekst i at gå over to linjer */
  min-width: fit-content; /* Lader knappen tilpasse sig teksten */
}