.ydreboks {
    display: flex; /* Placerer elementer på linje */
    justify-content: center; /* Centrerer indholdet horisontalt */
}

.indreboks {
    position: relative; /* Gør det muligt at placere absolutte elementer inden i */
    display: flex; /* Placerer elementer på linje */
    align-items: center; /* Centrerer indholdet vertikalt */
    border: 2px solid #032478; /* Tilføj kant */
    border-radius: 8px; /* Runder hjørnerne */
    width: 90%; /* Sætter bredden til 90% */
    margin-bottom: 35px; /* Tilføjer afstand under elementet */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); /* Tilføjer skygge */
    padding-top: 35px; /* Tilføjer padding øverst */
    padding-bottom: 35px; /* Tilføj padding nederst */
    background-color: #FFF; /* Hvid baggrund */
}

.infoIkonContainer {
    position: absolute; /* Gør det muligt at placere elementet absolut */
    top: 11px; /* Placerer elementet 11px fra toppen */
    right: 11px; /* Placerer elementet 11px fra højre */
}

.infoBesked {
    position: absolute; /* Gør det muligt at placere elementet absolut */
    top: 30px; /* Placerer elementet 30px fra toppen */
    right: 0; /* Placerer elementet ved højre kant */
    background: white; /* Hvid baggrund */
    border: 2px solid #032478; /* Blå kant */
    border-radius: 8px; /* Runder hjørnerne */
    padding: 15px; /* Tilføjer padding */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Tilføjer skygge */
    width: 250px; /* Sætter bredden til 250px */
    z-index: 100; /* Sørger for at elementet er øverst */
}

.infoBesked p {
    margin: 5px 0; /* Tilføjer margin over og under */
    font-size: 14px; /* Sætter skriftstørrelsen */
}

.infoBesked strong {
    color: #032478; /* Blå farve til fremhævning */
}

.ikon {
    margin-left: 35px; /* Tilføjer afstand til venstre */
    margin-right: 35px; /* Tilføjer afstand til højre */
}

.venstre {
    display: flex; /* Placerer elementer på linje */
    align-items: center; /* Centrerer indholdet vertikalt */
}

.midte {
    width: 75%; /* Sætter bredden til 75% */
}

.midte h3 {
    margin-bottom: 14px; /* Tilføjer afstand under overskriften */
}

.hoejre {
    display: flex; /* Placerer elementer på linje */
}

.tekstBeskaaret {
    display: -webkit-box; /* Bruger flexbox model */
    -webkit-line-clamp: 3; /* Viser kun 3 linjer */
    -webkit-box-orient: vertical; /* Sætter orientering til vertikal */
    overflow: hidden; /* Skjuler overskydende tekst */
    text-overflow: ellipsis; /* Tilføjer ... i slutningen */
  }
  
  .laesMereKnap {
    background: none; /* Gør baggrunden gennemsigtig */
    border: none; /* Fjerner kant */
    color: rgb(0, 0, 0, 0.5); /* Grå tekstfarve */
    cursor: pointer; /* Angiver at det er klikbart */
    font-size: inherit;
    margin-top: 10px;
  }

  .laesMereKnap:hover {
    text-decoration: underline; /* Understreger teksten ved hover */
  }