.ydreboks {
    display: flex;
    justify-content: center;
}

.indreboks {
    display: flex;
    border: 2px solid #032478;
    border-radius: 8px;
    width: 80%;
    margin-bottom: 35px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding-top: 35px;
    padding-bottom: 35px;
}

.ikon {
    margin-left: 35px;
    margin-right: 35px;
}

.venstre {
    display: flex;
    align-items: center;
}

.midte {
    width: 75%;
}

.midte h3 {
    margin-bottom: 14px;
}

.hoejre {
    display: flex;
    flex-direction: column;
    align-items: center;
}