.ydreboks {
    display: flex;
    justify-content: center;
}

.indreboks {
    display: flex;
    align-items: center; /*  */
    border: 2px solid #032478;
    border-radius: 8px;
    width: 90%;
    margin-bottom: 35px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    padding-top: 35px;
    padding-bottom: 35px;
}

.ikon {
    margin-left: 35px;
    margin-right: 35px;
}

.venstre {
    display: flex;
    align-items: center;
}

.midte {
    width: 75%;
}

.midte h3 {
    margin-bottom: 14px;
}

.hoejre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tekstBeskaaret {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.laesMereKnap {
    background: none;
    border: none;
    color: #032478;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    margin-top: 8px;
    font-size: 14px;
}

.laesMereKnap:hover {
    color: #021a4f;
}