.ydreboks {
    display: flex; /* Placerer elementer på linje */
    justify-content: center; /* Centrerer indholdet horisontalt */
}

.indreboks {
    display: flex; /* Placerer elementer på linje */
    align-items: center; /* Centrerer indholdet vertikalt */
    border: 2px solid #032478; /* Tilføj kant */
    border-radius: 8px; /* Runder hjørnerne */
    width: 90%; /* Sætter bredden til 90% */
    margin-bottom: 35px; /* Tilføjer afstand under elementet */
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2); /* Tilføjer skygge */
    padding-top: 35px; /* Tilføjer padding øverst */
    padding-bottom: 35px; /* Tilføj padding nederst */
}

.ikon {
    margin-left: 35px; /* Tilføjer afstand til venstre */
    margin-right: 35px; /* Tilføjer afstand til højre */
}

.venstre {
    display: flex; /* Placerer elementer på linje */
    align-items: center; /* Centrerer indholdet vertikalt */
}

.midte {
    width: 75%; /* Sætter bredden til 75% */
}

.midte h3 {
    margin-bottom: 14px; /* Tilføjer afstand under overskriften */
}

.hoejre {
    display: flex; /* Placerer elementer på linje */
}