
.wrapper {
    position: relative;
}

.input {
    width: 30%;
    padding: 1rem;
    font-size: 1rem;
    border: 2px solid #032478;
    border-radius: 8px;
    outline: none;
}

.label {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.25rem;
    background-color: white;
    color: #000;
    pointer-events: none;
    transition: all 0.2s;
}

.labelAktiv {
    top: -0.75rem;
    font-size: 0.875rem;
    color: #3b82f6;
}