/* DMJX-logo i venstre side og "Trust Center - powered by .legal i højre side*/
.ydreArticle {
    display: flex; /* Placerer elementerne på linje */
    justify-content: center; /* Placerer elementerne i midten */
    cursor: pointer; /* Gør cursoren til en pointer ved hover */
}

.logoSektion {
    display: flex; /* Indholdet stilles på horisontal linje */
    justify-content: space-between; /* Alt pladsen i containeren placeres MELLEM de to sektioner */
    margin-top: 48px; /* Skaber afstand mellem toppen af siden og indholdet */
    align-items: center; /* Indholdet placeres i midten vertikalt */
    width: 90%;
}

/* DMJX-logo */
.kundeLogo {
    width: 229px; /* Fast bredde på kundelogo */
    height: 118px; /* Fast højde på kundelogo */
}

/* Trust Center - powered by .legal i højre side*/
.trustCenterSektion {
    display: flex; /* Indholdet stilles på horisontal linje */
    flex-direction: column; /* Indholdet stilles på vertikal linje */
    justify-content: center; /* Indholdet placeres i midten horisontalt */
    align-items: center; /* Indholdet placeres i midten vertikalt */
}

/* Trust Center teskten i højre side */
.trustCenterTekst {
    font-family: "SpoofBold", sans-serif; /* Teksten Trust Center står med anden skrifttype */
    font-size: 22px; /* Skriftstørrelsen på teksten Trust Center */
}

/* powered by .legal - tekst og billede i højre side */
.poweredBySektion {
    display: flex; /* Stilles på linje */
    align-items: center; /* Placeres i midten af sin container horisontalt */
    gap: 11px; /* Afstand mellem tekst og billede */
    font-weight: 375; /* Fontens vægt */
}

/* Modal styling */
.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 75px 80px;
    border-radius: 8px;
    z-index: 1001;
    border: 1px solid #032478;
    transition: all 0.3s ease;
  }
  
  .luk {
    position: absolute;
    top: 30px;
    right: 30px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #032478;
  }
  
  .modal h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .modal p {
    margin-bottom: 35px;
    color: #000;
  }
  
  .knapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
  }
  
  .sekundaer, .primaer {
    padding: 10px 25px;
    white-space: nowrap;
    min-width: 126px;
    height: 39px;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
  }
  
  .sekundaer {
    background-color: #fff;
    color: #032478;
    border: 1px solid #032478;
  }
  
  .primaer {
    background-color: #032478;
    color: #fff;
  }