.ydreSektion {
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 90px;
    width: 90%;
}

.navigation a {
    transition: all 0.3s ease;
}

.aktiv {
    text-decoration: underline;
    text-decoration-color: #032478;
    text-underline-offset: 8px;
}
