/* Søgefelt styling */
.soegefelt {
    margin-top: 70px; /* Søgefeltet placeres 70 px fra ovenstående */
    display: flex; /* Søgefeltet er i flex for at centrere det */
    justify-content: center; /* Søgefeltet centreres */
    position: relative; /* Gør det muligt at placere tekstfeltet ovenpå inputfeltet */
}

.input {
    min-width: 30%; /* Bredden på inputfeltet */
    padding: 1rem; /* Padding inden i inputfeltet - det der ligger omkring teksten */
    border: 2px solid #032478; /* Kantform og -farve */
    border-radius: 8px; /* Afrunding på kanter */
    font-size: 16px; /* Størrelsen på det input, brugeren laver */
    outline: none; /* Fjerner den blå kant, der kommer ved klik i feltet */
}

.label {
    position: absolute; /* Gør det muligt at placere label absolut i forhold til dens container soegefelt, der har position: relative;*/
    left: 35%; /* Placerer label samme sted i inputfeltet */
    top: 1rem; /* Skaber en afstand til ovenstående*/
    background-color: white; /* Får en baggrundsfarve for at sikre, at teksten i label ikke overstreges af border */
    color: #000; /* Tekstfarven */
    transition: all 0.2s; /* Når der klikkes ind og ud af feltet */
    padding-left: 7px; /* Sikrer, at border ikke overstreger ord */
    padding-right: 7px; /* Sikrer, at border ikke overstreger ord */
    pointer-events: none; /* Gør, at label ikke kan klikkes på */
}

.labelAktiv {
    top: -0.50rem; /* Teksten flytter sig op */
    font-size: 0.875rem; /* Skriftstørrelsen bliver mindre */
    color: #000; /* Skriftfarven */
}

/* Navigation styling */
.ydreSektion {
    display: flex; /* Indholdet stilles på linje */
    justify-content: center; /* Indholdet placeres i midten af containeren */
}

.navigation {
    display: flex; /* Indholdet placeres på linje */
    justify-content: space-between; /* Indholdet placeres med pladsen imellem sig */
    margin-top: 35px; /* Indholdet placeres med 35px til ovenstående */
    margin-bottom: 90px; /* Indholdet placeres med 90px afstand til nedenstående */
    width: 90%; /* Bredden på indholdet for at skabe padding i siderne */
    cursor: pointer; /* Tydeliggør klikbarhed ved hover */
}

.aktiv {
    text-decoration: underline; /* Når linket er aktuelt angives dette med underline */
    text-decoration-color: #032478; /* Farven på underline bliver blå */
    text-underline-offset: 8px; /* Underline placeres 8px fra teksten */
}