.navigation {
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 35px;
    margin-bottom: 90px;
}

.navigation a {
    transition: all 0.3s ease;
}

.aktiv {
    text-decoration: underline;
    text-decoration-color: #032478;
    text-underline-offset: 8px;
}
