.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 125px;
  border-radius: 8px;
  width: 600px;
  z-index: 1001;
}

.lukKnap {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.modal h2 {
  display: inline;
  margin-right: 0.5rem;
}

.modalOverskrifter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.oeversteOverskrift {
  color: #000 !important;
}

.inputfelter {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  width: 100% !important;
  box-sizing: border-box;
  margin-bottom: 35px;
}

.knapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}

.knapper button {
  padding: 10px 25px !important;
  white-space: nowrap;
  flex: 1;
}