/* STYLING I INDEX.CSS GÆLDER FOR HELE APPLIKATIONEN */

/* FONTOPSÆTNING ER SKET VED AT FØLGENDE DENNE GUIDE: https://dev.to/roopalisingh/adding-downloaded-fonts-in-your-react-app-j4d */
@font-face {
  font-family: "SpoofBold";
  src: local("SpoofBold"), url("./fonts/Spoof-Bold.otf") format("opentype");
  font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Allura&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

/* Indholdet skal fylde 80% af sidens bredde og placeres i midten */
body {
  width: 80%;
  margin: auto;
}

/* Fjerner al styling fra links */
a {
  text-decoration: none;
  color: black;
}

h2 {
  font-family: "SpoofBold", sans-serif;
  font-size: 32px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
